 .корінь {
    --primary-text-color :  # 303030 ;
    --secondary-text-color :  # fff ;
    --tetriary-text-color :  # 555 ;
    --primary-title-color :  rgba ( 157 ,  164 ,  189 ,  0,6 );
    --description-text :  # 9da4bd ;
    --accent-color :  # ff6c00 ;
  }
  
  .тіло {
    сімейство шрифтів :  "Монсеррат", sans-serif;
    font-weight :  400 ;
    колір фону :  # c4c0c0 ;
  }
  
  /* Головний розділ перед заголовком */
  .попередній заголовок {
    font-weight :  500 ;
    розмір шрифту :  11 пікселів ;
    висота лінії :  1,4 ;
    перетворення тексту : верхній регістр;
    колір :  var ( --primary-text-color );
  }
  
  /* Назва основного розділу */
  .назва {
    сімейство шрифтів :  "Roboto", sans-serif;
    вага шрифту :  700 ;
    розмір шрифту :  42 px ;
    висота лінії :  1,2 ;
    міжлітерний інтервал :  0,05 em ;
    колір :  var ( --primary-text-color );
  }
  
  /* Список стилів */
  .список {
    стиль списку : немає;
  }
  
  /* Стилі посилань */
  .посилання {
    text-decoration : немає;
  }
  
  /* Стилі кнопок */
  .btn {
    font-weight :  600 ;
    розмір шрифту :  12 пікселів ;
    висота лінії :  1,3 ;
    міжлітерний інтервал :  0,09 em ;
    перетворення тексту : верхній регістр;
    background: #2196F3;
    cursor: pointer;
  }
/* Заголовок */

.header-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var ( --secondary-text-color );
  }  
  .header-contact{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var ( --secondary-text-color );
  }
  /* Розділ героя */

.hero , .about , .comand{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #212121;
}
.hero-title{
  font-weight: 900;
font-size: 44px;
border: 1px solid #000000;
text-shadow: 
color: #FFFFFF;
}
.hero-btn{
cursor: pointer;
font-size: 16px;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.about-title {
    колір :  var ( --primary-text-color );
  }
  .about-description{
font-size: 14px;
letter-spacing: 0.03em;
color: #757575;
  }
  .about-item title{
    font-size: 14px;
letter-spacing: 0.03em;
color: #212121;
  }
  .comand-item{
    font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
color: #212121;
  }
  .comand-item-text{
    font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;
  }
  .visually-hidden{
    font-weight: 700;
font-size: 18px;
letter-spacing: 0.06em;
color: #212121;
  }
  .gallery-pre-title{
    font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;
  }
  
/* Розділ footer */
.footer-titel{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
}

.contacts-address {
    font-style : нормальний;
  }
  
  .contacts-title {
    колір :  var ( --secondary-text-color );
  }
.contacts-item{
    font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;
color: #FFFFFF;

}
  